body {
  padding-top: 50px;
  margin:0;
  font-family:PT Sans;
}
.title-text {
  padding: 40px 15px;
  text-align: center;
}


.tab {
	position:absolute;
	text-align:center;
	width:80%;
	left:10%;
}

.vis {
	transition: 0.1s ease-in-out;
}

.viss:hover {
	transform: scale(1.03);
}

.embed1 {
	width:100%;
	height:400px;
}
.embed2 {
	width:100%;
	height:700px;
}