body {
  padding-top: 50px;
  margin:0;
  font-family:PT Sans;
}
.title-text {
  padding: 40px 15px;
  text-align: center;
}

.visuals {
	text-align:center;
	width:80%;
	position:absolute;
	left:10%;
}

.vis {
	transition: 0.1s ease-in-out;
}

.viss:hover {
	transform: scale(1.03);
}